article.article-post {
    margin-bottom: 40px;    
    width: 50%;
    height: 300px;
    border: 1px solid #999;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    
}

article.article-post section {
    margin-top: -15px;
}

article.article-post header h2 {
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.75);
box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.75);
    line-height: 1.1em;
    padding: 28px 20px;
    font-size: 24px;
}

article.article-post figure a.post-thumb {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

article.article-post figure a.post-thumb span.img-overlay {
    position: absolute;
    top: 0;
    width:  100%;
    height: 300px;
   
}

article header {
    position: static;
}

article figure.featured-image img {
    margin: 0px;
    width: 100%;
}



article.member-post {
    margin-bottom: 40px;    
    width: 50%;
    height: 300px;
    border: 1px solid #999;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding: 0 20px;
}

article.member-post figure {
    width: 40%; 
    float: left;
    margin-right: 20px;
    
}

article.member-post img {
    width: 100%;
    border: 3px solid #ddd;
}


/*as banner*/
article.member-post.banner {
    width:  100%;
    float:  none;
    max-width: 900px;
    height: 350px;
    margin: -30px 0px -30px ; /*to cancel padding set by gk-mainbody-top*/
    border: none;
}

article.member-post.banner figure {
    width:  35%;
    margin-right: 40px;
}

article.member-post.banner header h1 {
    margin-bottom: 0px;
}

.mtitle, .mlocation, .mcontact {
   font-size: 1.3em;
    color:  #555;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}

    